<%- include('../partials/_header.ejs')  %>
<%- include('../partials/_navigation.ejs')  %>
<%- include('../partials/_banner.ejs')  %>
<style>
    .hidden {
        display: none;
    }
</style>

<h1>Chat via socket.io</h1>

<main>
    <form id="login-form">
        <label for="username">Pseudo : </label>
        <input type="text" id="username" name="username" value="<%= name %>" readonly>
        <button type="submit">Se connecter</button>
    </form>

    <form id="message-form">
        <label for="message">Message : </label>
        <input type="text" id="message" name="message">
        <button type="submit">Envoyer</button>
    </form>
    
    <div id="container-chat"></div>
</main>
   
    

<script src="/socket.io/socket.io.js"></script>
<script src="/js/script-chat.js" ></script>
<%- include('../partials/_footer.ejs')  %>