<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_banner.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<style>
    /*  */
    .art-container{
        position: relative;
        width: 500px;
        margin: auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;

        

        h2{
            color: brown;
        }

        img{
            width: 100%;
            height: 200px;
            background-color: blueviolet;
        }

        h4{
            width: 100%;

            color: darkblue;
            font-size: 2.5rem;
            border-bottom: 1px solid black;
        }

        .ico-container__action{
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin: 6px auto;
            border: 0;
            z-index: 1;
            cursor: pointer;
            i{

                svg {
                    width: 1em;
                    height: 1em;
                    z-index: 10;
                    &:hover, &:focus {
                        /* -webkit-text-stroke: red;
                        text-stroke: red; */
                        
                        > path{
                            /* fill: red; */
                            /* color: red; */
                            stroke: red;
                            stroke-width: "1.5";
                            stroke-linecap: "round";
                            stroke-linejoin: "round";
                        }
                    }

                    > path{
                        pointer-events: none;
                    }
                }
                
            }
        }

        .i-erase{
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
        }
    }

    /*  */
    #comment-form{
        width: 500px;
        min-height: 150px;
        margin: auto;
        padding: 10px;

        textarea{
            width: 100%;
        }

        .btn-send-comment{
            width: 50px;
            border-radius: 4px;
            border: none;
            background-color: dimgray;
        }
    }

    /*  */
    #comment-list{
        width: 500px;
        min-height: 150px;
        margin: auto;
        padding: 10px;

        > *{
            background-color: beige;
            margin-bottom: 6px;
            padding: 10px;
        }
    }
</style>

<main>
    
<% /* L'advert */ %>
<advert class="art-container">

    <h2><%= advert.author.firstname %> <%= advert.author.lastname %></h2>
    <img src="" alt="">
    <h4><%= advert.title %></h4>
    <p><%= advert.content %></p>

    <div class="ico-container__action">
        <i>
            <svg onClick="comment()" title="warning" value="0" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="#ffffffff" xmlns="http://www.w3.org/2000/svg" color="#000000">
                <path d="M20.0429 21H3.95705C2.41902 21 1.45658 19.3364 2.22324 18.0031L10.2662 4.01533C11.0352 2.67792 12.9648 2.67791 13.7338 4.01532L21.7768 18.0031C22.5434 19.3364 21.581 21 20.0429 21Z" stroke="#c1c1c1" stroke-width="1.0" stroke-linecap="round"></path>
                <path d="M12 9V13" stroke="#c1c1c1" stroke-width="1.0" stroke-linecap="round">
                </path>
                <path d="M12 17.01L12.01 16.9989" stroke="#c1c1c1" stroke-width="1.0" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
        
        <i title="like">
            <svg onClick="comment()" value="0" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill= "#ffffffff" xmlns="http://www.w3.org/2000/svg" color="#c1c1c1">
                <path d="M22 8.86222C22 10.4087 21.4062 11.8941 20.3458 12.9929C17.9049 15.523 15.5374 18.1613 13.0053 20.5997C12.4249 21.1505 11.5042 21.1304 10.9488 20.5547L3.65376 12.9929C1.44875 10.7072 1.44875 7.01723 3.65376 4.73157C5.88044 2.42345 9.50794 2.42345 11.7346 4.73157L11.9998 5.00642L12.2648 4.73173C13.3324 3.6245 14.7864 3 16.3053 3C17.8242 3 19.2781 3.62444 20.3458 4.73157C21.4063 5.83045 22 7.31577 22 8.86222Z" stroke= "#c1c1c1" stroke-width="1.5" stroke-linejoin="round"></path>
            </svg>
        </i>
        <i title="comment">
            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="#ffffffff" xmlns="http://www.w3.org/2000/svg" color="#000000">
                <path d="M7 12L17 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 8L13 8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 20.2895V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V15C21 16.1046 20.1046 17 19 17H7.96125C7.35368 17 6.77906 17.2762 6.39951 17.7506L4.06852 20.6643C3.71421 21.1072 3 20.8567 3 20.2895Z" stroke="#c1c1c1" stroke-width="1.5"></path>
            </svg>
        </i>

        <i title="share">
            <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                <path d="M22.1525 3.55321L11.1772 21.0044L9.50686 12.4078L2.00002 7.89795L22.1525 3.55321Z" stroke="#c1c1c1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M9.45557 12.4436L22.1524 3.55321" stroke="#c1c1c1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
    </div>
    <i class="i-erase">
        <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path d="M9 12H12H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.777 13.3453L13.4799 21.3721C12.6864 22.245 11.3136 22.245 10.5201 21.3721L3.22304 13.3453C2.52955 12.5825 2.52955 11.4175 3.22304 10.6547L10.5201 2.62787C11.3136 1.755 12.6864 1.755 13.4799 2.62787L20.777 10.6547C21.4705 11.4175 21.4705 12.5825 20.777 13.3453Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </i>
</advert>
<hr>

<% /* Commentaire de l'advert */ %>
<% /* TODO Refactor with CSS */ %>
<form id="comment-form" method="post" action="/advert/add-comment">
    <h3 aria-label="input-comment">Ajouter un commentaire :</h3>
    <textarea id="input-comment" name="comment"><%= data.comment %></textarea>
    <br>
    <input type="hidden" name="slug" value="<%= advert.slug %>">
    <button type="submit" class="btn-send-comment">Poster</button>
    <span><%= message %></span>
</form>
<br>

<!-- Liste de commentaires -->
<div id="comment-list">
    <% for(const comment of advert.comments) { %>
        <div>
            <h4><%= comment.author.firstname + ' ' + comment.author.lastname %> - <%= comment.createdAt.toLocaleString('fr') %></h4>
            <p><%= comment.message %></p>
            <div class="ico-comment-action" >

                <i class="i-erase" title="supprimer">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                        <path d="M9 12H12H15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.777 13.3453L13.4799 21.3721C12.6864 22.245 11.3136 22.245 10.5201 21.3721L3.22304 13.3453C2.52955 12.5825 2.52955 11.4175 3.22304 10.6547L10.5201 2.62787C11.3136 1.755 12.6864 1.755 13.4799 2.62787L20.777 10.6547C21.4705 11.4175 21.4705 12.5825 20.777 13.3453Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </i>
            </div>
        </div>
    <% } %>
</div>

<script>

    function comment(){
        // event.preventDefault();
        const target = event.target; // L'élément <i> cliqué
        const value = target.getAttribute('value'); // Récupère la valeur de l'attribut "value"
        const innerHtml = target.innerHTML; // Récupère le contenu HTML de l'élément
        const $ = (b) => target.querySelectorAll(b);

        // console.log('Valeur :', value);
        // console.log('Contenu HTML :', innerHtml)
            console.log("condition début");
            console.log(value);
        if(value == 0){
            console.log("-----------------------------");
            const enfants = target.querySelectorAll("path");
            enfants.forEach((element, index) => {
                element.setAttribute("stroke", "#c1c1c1");
                element.setAttribute("stroke-width", "1.5");
                element.setAttribute("stroke-linecap", "round");
                element.setAttribute("stroke-linejoin", "round");
                if (enfants.length === 1) {
                    element.setAttribute("fill", "none");
                }

            })
        }else{
            const enfants = target.querySelectorAll("path");
            enfants.forEach((element, index) => {
                element.setAttribute("stroke", "red");
                element.setAttribute("stroke-width", "1.0");
                element.setAttribute("stroke-linecap", "round");
                element.setAttribute("stroke-linejoin", "round");
                if (enfants.length === 1) {
                    element.setAttribute("fill", "red");
                }

            })

        }
        console.log("condition fin");


        // const enfants = target.querySelectorAll("path");
        // enfants.forEach((element, index) => {
        //     element.setAttribute("stroke", "red");
        //     element.setAttribute("stroke-width", "1.5");
        //     element.setAttribute("stroke-linecap", "round");
        //     element.setAttribute("stroke-linejoin", "round");
        //     if (enfants.length === 1) {
        //         element.setAttribute("fill", "red");
        //     }

        // });

        if(value === '0'){
            console.log('vaut un');
            target.setAttribute('value', '1');
            console.log('Valeur :', value);
        }else{
            target.value = 0;
            target.setAttribute('value', '0');
            console.log('vaut zéro');
            console.log('Valeur :', value);
        }
        
        // console.log(target.querySelectorAll("path"));
    }
</script>


</main>

<%- include('../partials/_footer.ejs') %>