
<%- include('../partial/_header.ejs') %>

<h1><%= article.title %></h1>
<h2><%= article.author.firstname %> <%= article.author.lastname %></h2>

<p><%= article.content %></p>



<%- include('../partial/_footer.ejs') %>