<%- include('../partial/_header.ejs') %>

<h1>Liste des articles</h1>
<a href="/article/new">Créer un article</a>

<section class="article-cards">
    <% if(articles.length === 0) { %>
        <p>Il n'y pas encore d'articles 😿</p>
    <% } %>
    <% for(const article of articles) { %>

        <a href="/article/detail/<%= article.slug %>">
            <article class="article-card">
                <p class="title"><%= article.title %></p>
                <p class="author"><%= article.author.username %></p>
                <p class="desc"><%= article.desc %></p>
                <p class="update-date"><%= article.updatedAt.toLocaleDateString('fr') %></p>
            </article>
        </a>

    <% } %>

</section>


<%- include('../partial/_footer.ejs') %>