<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_banner.ejs') %>

<style>

        .link-new_article{
            text-decoration: none;
            color: rgb(253, 255, 227);
            font-weight: bold;
            font-size: 1.2rem;
            margin:0 auto 10px;
            padding: 10px;
            background-color: rgb(105, 105, 86);
            border-radius: 5px;
        }

       .article-cards {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            border: 1px solid #0f056b;

            & > h2{
                display: flex;
                text-align: center;
                letter-spacing: 2px;
                align-items: center;
                justify-content: center;
                background-color: #4b0082;
                color: #f4fefe;
                font-weight: 900;
                -webkit-text-stroke: 0.5px #008080;
                stroke-width: 10px;
                height: 50px;

            }
        }

        .article-card__head{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 6px;
            padding: 6px;
            background-color: darkblue;
            color: aliceblue;
            border-radius:0 0 8px 8px;
            & > *{
                text-align: left;
            }
        }

        .article-card{
            
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 6px;
            padding: 6px;
            background-color: cornsilk;
            border-radius: 4px;
            text-align: left;

            


            & > *{
                position: relative;
                text-align: left;
                height: 100%;
            }
        }
</style>

<main>
    <a class="link-new_article" href="/article/new">Créer un article</a>
    
    <section class="article-cards">
        <h2>Liste des articles</h2>

    <% if(articles.length === 0) { %>
        <p>Il n'y pas encore d'articles 😿</p>
    <% } %>
    <div>
        <article class="article-card__head">
            <p class="title">TITRE</p>
            <p class="author">AUTEUR</p>
            <p class="desc">DESCRIPTION</p>
            <p class="update-date">DATE DE MODIFICATION</p>
        </article>
    </div>
    <% for(const article of articles) { %>

        <a href="/article/detail/<%= article.slug %>">
            <article class="article-card">
                <p class="title"><%= article.title %></p>
                <p class="author"><%= article?.author?.username ?? "no author" %></p>
                <p class="desc"><%= article.desc %></p>
                <p class="update-date"><%= article.updatedAt.toLocaleDateString('fr') %></p>
            </article>
        </a>

    <% } %>

</section>
</main>

<%- include('../partials/_footer.ejs') %>