<%- include('../partials/_header.ejs')  %>
<%- include('../partials/_navigation.ejs')  %>
<%- include('../partials/_banner.ejs')  %>
<%- include('../partials/_addRecipe.ejs')  %>

<h1>Profil</h1>

<main>
        
        
</main>
   
    

<%- include('../partials/_footer.ejs')  %>