<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_banner.ejs') %>
<title>Formulaire</title>

<main>
    <h2>A propos de nous</h2>
</main>

<%- include('../partials/_footer.ejs') %>