<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_banner.ejs') %>
<title>Formulaire</title>
	<style>
.formbox{

	width: 650px;
	padding: 24px;
	margin: 45px auto;
	border: 1px solid #ccc;
	}
 fieldset{
	border: none;
	 }
.grille{
		}
.premier{
	   grid-column: 1; /* placement en colonne 1 */
	   grid-row: 1; /* placement en ligne 1 */
	   
}
.deuxieme{
	  
}
.troisieme{
		
}
.quatrieme{
		
}
.cinq{

}
.six{
		

}
.sept{
		
}
.huit{
		
}
.neuf{
		
}
.dix{
		
}

.btn-submit{
		
		
}

textarea{
	width: 100%;
}

.btn-reset{
			
}
input:valid{
        
}
#effacer{
		
}
</style>
<main>
    <div class="formbox">
        <form accept-charset="utf-8" method="post">
            <fieldset>
                <legend>Données de contact</legend>

                <div class="grille">
                    <div>

                    <label class="premier">Nom :</label>
                    <input name="nom" type="text" placeholder="votre nom" pattern="[a-zA-Z]{1,}" maxlength="50" required class="deuxieme">
                </div>
                <div>
                    <label class="troisieme">Prénom :</label>
                    <input name="prenom" type="text" placeholder="votre prénom" pattern="[a-zA-Z]{1,}" maxlength="50" required class="quatrieme">
                </div>
                <div>
                    <label class="cinq">Entreprise :</label>
                    <input type="text" name="entreprise" style="box-shadow:none" class="six">
                </div>
                <div>
                    <label class="sept">Tel. :</label>
                    <input type="tel" name="tel" required class="huit">
                </div>
                <div>
                    <label class="neuf">E-mail :</label>
                    <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required class="dix">
                </div>
            </fieldset>
            <div>
                <label>Votre demande :</label><br />
                <textarea cols="35" rows="6" maxlength="100" style="box-shadow:none"></textarea>
            </div>
            <div>
                <input type="submit" value="Envoyer" class="btn-submit">
                <input name="effacer" type="reset" id="effacer" value="Effacer" class="btn-reset">
            </div>
        </form>
    </div>
</main>


<%- include('../partials/_footer.ejs') %>