<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_banner.ejs') %>

<main>
<h1>Error 404</h1>
    <p>
        Page non trouvé (┬┬﹏┬┬)
    </p>
</main>

<%- include('../partials/_footer.ejs') %>