<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_banner.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<title>Formulaire</title>

<main class="apropos">
    <h2>Mobayi Actualités</h2>
    <div>
        <h3>À propos de nous</h3>
    
<p>
    L’Agence de Presse Mobayi Actu est un acteur majeur dans le domaine de l’information locale à Wavre. Depuis sa création en 2024, notre mission est de fournir des actualités pertinentes, fiables et en temps réel aux habitants de la région.
</p>
    </div>
    
    <div>
        <h3>
    Notre équipe
</h3>

<p>
    Notre équipe de journalistes passionnés est dévouée à couvrir tous les aspects de la vie locale. Que ce soit les événements culturels, les actualités politiques, les faits divers ou les initiatives communautaires, nous sommes là pour vous tenir informés.
</p>
    </div>

<div>
    
<h3>Nos services</h3>
<ul>
    <li>
        <h4>Actualités locales : </h4>
        <p>Nous publions des articles quotidiens sur notre site web, couvrant une variété de sujets liés à Wavre et international.</p>
    </li>
    <li>
        <h4>Reportages et enquêtes : </h4>
        <p>Notre équipe d’investigation creuse en profondeur pour vous apporter des reportages exclusifs et des enquêtes approfondies.</p>
    </li>
    <li>
        <h4>Agenda culturel : </h4>
        <p>Vous trouverez sur notre site les événements à ne pas manquer dans la région wavrienne, des expositions aux concerts en passant par les festivals.</p>
    </li>
    <li>
        <h4>Services aux lecteurs : </h4>
        <p>Nous encourageons nos lecteurs à participer en partageant leurs histoires, leurs photos et leurs opinions. Vous pouvez également nous contacter pour toute question ou suggestion.</p>
    </li>
</ul>
</div>

</main>

<%- include('../partials/_footer.ejs') %>