
<%- include('../partials/_head.ejs') %>
<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<%- include('../partials/_banner.ejs') %>

<style>
    .paragraphe{
        columns: 200px 2;
        column-gap: 30px;
        color: #fff;
        padding: 25px;
    }
    .title{
        column-span: all;
        display: block;
    }
</style>


<main>
    <div id="card">
        <img src="" alt="">
        <h2 class="title">Gestion économique</h2>
        <p class="paragraphe">
            La gestion économique comprend des matières telles que l’analyse économique, les mathématiques, les statistiques, le droit des affaires, la comptabilité, le contrôle de gestion, l’analyse financière, la sociologie, le marketing et la gestion des ressources humaines dans le contexte humain, social et juridique.
        </p>
        
        <ul>
            <li>Analyse économique</li>
            <li>Microéconomie</li>
            <li>Macroéconomie</li>
            <li>Marketing</li>
            <li>Analyse des états financiers</li>
            <li>Economie politique</li>
            <li>Finance</li>
            <li>Gestion des ressources humaines</li>
        </ul>
        <p class="paragraphe">
            
        </p>
        <a href="/advert/detail/${art_id}">lire l'advert ...</a>
    </div>
</main>
    
<%- include('../partials/_footer.ejs') %>